@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

.background {
  background: linear-gradient(to bottom right, #26c2b9, #288be7);
  position: relative;
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/assets/background.png") center / cover no-repeat;
  z-index: 1;
  pointer-events: none;
  opacity: 0.8;
  mix-blend-mode: color-burn;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-3s {
  animation: fade-in 0.7s ease-out;
}

.fade-in-5s {
  animation: fade-in 0.5s ease-out;
}

.fade-in-up {
  animation: fade-in-up 0.5s ease-out;
}
